ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 80%;
}
.heads{
    text-align: right;
    align-items: stretch;

}
.heads li{
    position: absolute;
    top: 0;
    right: 0;
    font-style: oblique;
    font-family: cursive;
}
.navbar li{
    font-family: cursive;
    align-items: flex-start;

}