*{
margin: 0 ;
padding: 0;
box-sizing: border-box;
}
.navbar{

    display: flex;
    align-items: left;
    padding: 10px;

}
nav{
    flex: 1;
    text-align: right;
    align-items: stretch;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-left: 100px;
    font-style: oblique;
    

    
}
nav ul{
    display: inline-block;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    scroll-padding-left: 25px;
    padding-right: 0px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.heads li{
font-family: cursive;
font-size: 14px;
font-weight: lighter;
margin: 0%;
margin-left: -75%;
margin-top: -50px;
} 


