*{
margin: 0% ;
padding: 0%;
box-sizing: content-box;
}
.navbar{
    display: flex;
    align-items: flex-start;
    padding: 0%;

}
nav{
    flex: 1;
    text-align: center;
    align-items: stretch;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-left: 20%;
    font-style: oblique;
    
    
}
nav ul{
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    text-align: initial;
}
a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: 0px;
    scroll-padding-left: 25px;
    padding-right: 0px;
    padding-left: -50px;
}

.heads li{
font-family: cursive;
font-size: 14px;
font-weight: lighter;
margin: 0px;
margin-top: 0px;
} 


